In [ ]:
 ============================================================================================
                                         DATA INGESTION
 ============================================================================================

In [31]:
# importing the appropraite library
import pandas as pd
import json
import os
from datetime import datetime

In [2]:
# Flattening json file for proper viewing
file_path = "C:/Oluwatosin_Git/Real_Estate_Data_Pipeline/data/raw_data/2025-11-18.json"

with open(file_path) as f:
    data = json.load(f)
df = pd.json_normalize(data["data"])
homes = df

In [ ]:
 ============================================================================================
                                        DATA TRANSFORMATION
 ============================================================================================

In [14]:
# ------------------------ TABLE PREPARATION ---------------------------
rows = []
column_names = ["property_id", "home_address", "state", "city", "zipcode", "latitude",
                "longitude", "bedrooms", "bathrooms", "living_area", "lot_size", 
                "year_built", "property_type", "price", "price_sqft", "status",
                "days_on_zillow"]

In [16]:
# ---------------------------- TABLE FIILING ----------------------------
# Looping through the data'
for index, home in homes.iterrows():
    property_id =       home["zpid"]
    home_address =      home["address.streetAddress"]
    state =             home["address.state"]
    city =              home["address.city"]
    zipcode =           home["address.zipcode"]
    latitude =          home["location.latitude"]
    longitude =         home["location.longitude"]
    bathrooms =         home["bathrooms"]
    bedrooms =          home["bedrooms"]
    living_area =       home["livingArea"]
    lot_size =          home["lotSizeWithUnit.lotSize"]
    year_built =        home["yearBuilt"]
    property_type =     home["propertyType"]
    price =             home["price.value"]
    price_sqft =        home["price.pricePerSquareFoot"]
    status =            home["listing.marketingStatus"]
    days_on_zillow =    home["daysOnZillow"]

    tuple_of_records = (property_id, home_address, state, city, zipcode, latitude,
                longitude, bedrooms, bathrooms, living_area, lot_size, 
                year_built, property_type, price, price_sqft, status,
                days_on_zillow)
    
    rows.append(tuple_of_records)

In [17]:
# Printing into dataframe
print(rows)

[(28208218, '4122 Great Bear Pl', 'TX', 'Houston', '77084', 29.833529, -95.69997, 4, 2.0, 2611, 7065.432, 2019, 'singleFamily', 389010, 149, 'active', 26), (28208218, '15322 Torry Pines Rd', 'TX', 'Houston', '77062', 29.575647, -95.13027, 4, 2.0, 2015, 9840.204, 1970, 'singleFamily', 369000, 183, 'active', 10), (28208218, '2851 Decker Pl', 'TX', 'Houston', '77003', 29.758352, -95.33921, 3, 4.0, 2401, 2134.44, 2018, 'singleFamily', 499999, 208, 'active', 5), (28208218, '717 E 23rd St', 'TX', 'Houston', '77008', 29.807554, -95.39053, 3, 3.0, 1957, 4678.344, 1928, 'singleFamily', 789000, 403, 'active', 13), (28208218, '5711 Ridgeway Dr', 'TX', 'Houston', '77033', 29.66928, -95.33654, 4, 1.0, 1240, 7204.824, 1958, 'singleFamily', 159000, 128, 'active', 3), (28208218, '1815 Wagon Gap Trl', 'TX', 'Houston', '77090', 30.01964, -95.46432, 4, 4.0, 2919, 8969.004, 1975, 'singleFamily', 299900, 103, 'active', 23), (28208218, '12511 Silver Cup', 'TX', 'Houston', '77014', 29.971582, -95.46673, 3, 3.0, 2592, 3362.832, 2005, 'singleFamily', 199900, 77, 'active', 47), (28208218, '3818 Gladeridge Dr', 'TX', 'Houston', '77068', 30.001553, -95.49348, 4, 3.0, 3068, 0.29200000000000004, 1972, 'singleFamily', 335000, 109, 'active', 44), (28208218, '3502 Stoney Oak Dr', 'TX', 'Houston', '77068', 30.00861, -95.492325, 4, 3.0, 2630, 0.2553, 1977, 'singleFamily', 350000, 133, 'active', 69), (28208218, '15618 Banty Falls Ct', 'TX', 'Houston', '77068', 30.012064, -95.48847, 5, 4.0, 4441, 10201.752, 1981, 'singleFamily', 495000, 111, 'active', 56), (28208218, '6607 Apollo', 'TX', 'Houston', '77091', 29.860098, -95.42857, 4, 3.0, 1645, nan, 2025, 'singleFamily', 228000, 139, 'active', 154), (28208218, '3102 Noble Lakes Ln', 'TX', 'Houston', '77082', 29.726715, -95.58689, 6, 12.0, 20932, 0.6829999999999999, 2002, 'singleFamily', 9999999, 478, 'active', 10), (28208218, '2739 Blue Glen Ln', 'TX', 'Houston', '77073', 30.009228, -95.38549, 5, 4.0, 3560, 8681.508, 1982, 'singleFamily', 280000, 79, 'active', 114), (28208218, '1011 Manatee Ln', 'TX', 'Houston', '77090', 30.021654, -95.44966, 4, 3.0, 2904, 10402.128, 1969, 'singleFamily', 229500, 79, 'active', 6), (28208218, '823 W 21st St', 'TX', 'Houston', '77008', 29.805044, -95.4134, 4, 5.0, 3264, 3275.712, 2016, 'singleFamily', 795000, 244, 'active', 19), (28208218, '15430 El Padre Dr', 'TX', 'Houston', '77083', 29.70579, -95.65936, 4, 3.0, 2018, 9199.872, 1978, 'singleFamily', 329900, 163, 'active', 11), (28208218, '26036 Kings Mill Crest Dr', 'TX', 'Kingwood', '77339', 30.064611, -95.22997, 4, 4.0, 3121, 7487.964, 2005, 'singleFamily', 363275, 116, 'active', 41), (28208218, '3204 Ivy Falls Dr', 'TX', 'Houston', '77068', 30.014277, -95.49081, 5, 5.0, 6309, 0.8433, 1982, 'singleFamily', 799000, 127, 'active', 100), (28208218, '7970 Fowlie St', 'TX', 'Houston', '77028', 29.813654, -95.28199, 3, 3.0, 1549, 4199.184, 2025, 'singleFamily', 228000, 147, 'active', 130), (28208218, '1322 Coppermeade Dr', 'TX', 'Houston', '77067', 29.952232, -95.44035, 5, 3.0, 3287, 5776.056, 2002, 'singleFamily', 296000, 90, 'active', 39), (28208218, '2206 Abernathy St', 'TX', 'Houston', '77026', 29.782618, -95.32834, 3, 3.0, 1536, 2404.512, 2022, 'singleFamily', 320000, 208, 'active', 10), (28208218, '3010 Cedar Woods Pl', 'TX', 'Houston', '77068', 30.012966, -95.48639, 6, 6.0, 5712, 0.43329999999999996, 1984, 'singleFamily', 695000, 122, 'active', 40), (28208218, '15722 Falmouth Dr', 'TX', 'Houston', '77059', 29.586512, -95.11628, 4, 3.0, 3194, 0.38220000000000004, 1979, 'singleFamily', 465000, 146, 'active', 131), (28208218, '107 Timberwilde Ln', 'TX', 'Houston', '77024', 29.765787, -95.49279, 8, 13.0, 22000, 8.978, 2005, 'singleFamily', 59999999, 2727, 'active', 45), (28208218, '5610 Easthampton Dr UNIT B', 'TX', 'Houston', '77039', 29.900703, -95.30755, 3, 2.0, 1516, 1925.352, 1979, 'singleFamily', 135000, 89, 'active', 25), (457154785, '4122 Great Bear Pl', 'TX', 'Houston', '77084', 29.833529, -95.69997, 4, 2.0, 2611, 7065.432, 2019, 'singleFamily', 389010, 149, 'active', 26), (28133604, '15322 Torry Pines Rd', 'TX', 'Houston', '77062', 29.575647, -95.13027, 4, 2.0, 2015, 9840.204, 1970, 'singleFamily', 369000, 183, 'active', 10), (249893553, '2851 Decker Pl', 'TX', 'Houston', '77003', 29.758352, -95.33921, 3, 4.0, 2401, 2134.44, 2018, 'singleFamily', 499999, 208, 'active', 5), (27784714, '717 E 23rd St', 'TX', 'Houston', '77008', 29.807554, -95.39053, 3, 3.0, 1957, 4678.344, 1928, 'singleFamily', 789000, 403, 'active', 13), (27968401, '5711 Ridgeway Dr', 'TX', 'Houston', '77033', 29.66928, -95.33654, 4, 1.0, 1240, 7204.824, 1958, 'singleFamily', 159000, 128, 'active', 3), (28159899, '1815 Wagon Gap Trl', 'TX', 'Houston', '77090', 30.01964, -95.46432, 4, 4.0, 2919, 8969.004, 1975, 'singleFamily', 299900, 103, 'active', 23), (80554166, '12511 Silver Cup', 'TX', 'Houston', '77014', 29.971582, -95.46673, 3, 3.0, 2592, 3362.832, 2005, 'singleFamily', 199900, 77, 'active', 47), (28168769, '3818 Gladeridge Dr', 'TX', 'Houston', '77068', 30.001553, -95.49348, 4, 3.0, 3068, 0.29200000000000004, 1972, 'singleFamily', 335000, 109, 'active', 44), (28239285, '3502 Stoney Oak Dr', 'TX', 'Houston', '77068', 30.00861, -95.492325, 4, 3.0, 2630, 0.2553, 1977, 'singleFamily', 350000, 133, 'active', 69), (28239125, '15618 Banty Falls Ct', 'TX', 'Houston', '77068', 30.012064, -95.48847, 5, 4.0, 4441, 10201.752, 1981, 'singleFamily', 495000, 111, 'active', 56), (452649960, '6607 Apollo', 'TX', 'Houston', '77091', 29.860098, -95.42857, 4, 3.0, 1645, nan, 2025, 'singleFamily', 228000, 139, 'active', 154), (84030383, '3102 Noble Lakes Ln', 'TX', 'Houston', '77082', 29.726715, -95.58689, 6, 12.0, 20932, 0.6829999999999999, 2002, 'singleFamily', 9999999, 478, 'active', 10), (28354296, '2739 Blue Glen Ln', 'TX', 'Houston', '77073', 30.009228, -95.38549, 5, 4.0, 3560, 8681.508, 1982, 'singleFamily', 280000, 79, 'active', 114), (28138042, '1011 Manatee Ln', 'TX', 'Houston', '77090', 30.021654, -95.44966, 4, 3.0, 2904, 10402.128, 1969, 'singleFamily', 229500, 79, 'active', 6), (27759692, '823 W 21st St', 'TX', 'Houston', '77008', 29.805044, -95.4134, 4, 5.0, 3264, 3275.712, 2016, 'singleFamily', 795000, 244, 'active', 19), (28315106, '15430 El Padre Dr', 'TX', 'Houston', '77083', 29.70579, -95.65936, 4, 3.0, 2018, 9199.872, 1978, 'singleFamily', 329900, 163, 'active', 11), (70347288, '26036 Kings Mill Crest Dr', 'TX', 'Kingwood', '77339', 30.064611, -95.22997, 4, 4.0, 3121, 7487.964, 2005, 'singleFamily', 363275, 116, 'active', 41), (28419100, '3204 Ivy Falls Dr', 'TX', 'Houston', '77068', 30.014277, -95.49081, 5, 5.0, 6309, 0.8433, 1982, 'singleFamily', 799000, 127, 'active', 100), (454275513, '7970 Fowlie St', 'TX', 'Houston', '77028', 29.813654, -95.28199, 3, 3.0, 1549, 4199.184, 2025, 'singleFamily', 228000, 147, 'active', 130), (62567065, '1322 Coppermeade Dr', 'TX', 'Houston', '77067', 29.952232, -95.44035, 5, 3.0, 3287, 5776.056, 2002, 'singleFamily', 296000, 90, 'active', 39), (121104625, '2206 Abernathy St', 'TX', 'Houston', '77026', 29.782618, -95.32834, 3, 3.0, 1536, 2404.512, 2022, 'singleFamily', 320000, 208, 'active', 10), (28433805, '3010 Cedar Woods Pl', 'TX', 'Houston', '77068', 30.012966, -95.48639, 6, 6.0, 5712, 0.43329999999999996, 1984, 'singleFamily', 695000, 122, 'active', 40), (28249156, '15722 Falmouth Dr', 'TX', 'Houston', '77059', 29.586512, -95.11628, 4, 3.0, 3194, 0.38220000000000004, 1979, 'singleFamily', 465000, 146, 'active', 131), (84029002, '107 Timberwilde Ln', 'TX', 'Houston', '77024', 29.765787, -95.49279, 8, 13.0, 22000, 8.978, 2005, 'singleFamily', 59999999, 2727, 'active', 45), (28208218, '5610 Easthampton Dr UNIT B', 'TX', 'Houston', '77039', 29.900703, -95.30755, 3, 2.0, 1516, 1925.352, 1979, 'singleFamily', 135000, 89, 'active', 25)]

In [39]:
df = pd.DataFrame(rows, columns=column_names)

In [30]:
df.index = df.index + 1

In [37]:
df.head(3)

,property_id,home_address,state,city,zipcode,latitude,longitude,bedrooms,bathrooms,living_area,lot_size,year_built,property_type,price,price_sqft,status,days_on_zillow
1,28208218,4122 Great Bear Pl,TX,Houston,77084,29.833529,-95.69997,4,2.0,2611,7065.432,2019,singleFamily,389010,149,active,26
2,28208218,15322 Torry Pines Rd,TX,Houston,77062,29.575647,-95.13027,4,2.0,2015,9840.204,1970,singleFamily,369000,183,active,10
3,28208218,2851 Decker Pl,TX,Houston,77003,29.758352,-95.33921,3,4.0,2401,2134.440,2018,singleFamily,499999,208,active,5

In [42]:
regularise1 = df["property_type"].unique()
regularise2 = df["status"].unique()
print(regularise1)
print(regularise2)

['singleFamily']
['active']

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 1 to 50
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_id     50 non-null     int64
 1   home_address    50 non-null     object
 2   state           50 non-null     object
 3   city            50 non-null     object
 4   zipcode         50 non-null     object
 5   latitude        50 non-null     float64
 6   longitude       50 non-null     float64
 7   bedrooms        50 non-null     int64
 8   bathrooms       50 non-null     float64
 9   living_area     50 non-null     int64
 10  lot_size        48 non-null     float64
 11  year_built      50 non-null     int64
 12  property_type   50 non-null     object
 13  price           50 non-null     int64
 14  price_sqft      50 non-null     int64
 15  status          50 non-null     object
 16  days_on_zillow  50 non-null     int64
dtypes: float64(4), int64(7), object(6)
memory usage: 6.8+ KB

In [ ]:
---------------------------------------------- DATA CLEANING PROPER ------------------------------------------------

In [54]:
class Zillow_data_cleaner:
    def __init__(self, df):
         self.df = df.copy()
        
    # Function 1: Converting datatypes
    def fix_dtypes(self):
        if 'bathroom' in self.df.columns:
            self.df['bathroom'] = self.df['bathroom'].astype(float)
        if 'bedroom' in self.df.columns:
            self.df['bedroom'] = self.df['bedroom'].astype(int)
        if 'living_area' in self.df.columns:
            self.df['living_area'] = self.df['living_area'].astype(int)
        if 'lot_size' in self.df.columns:
            self.df['lot_size'] = self.df['lot_size'].astype(float)
        if 'price' in self.df.columns:
            self.df['price'] = self.df['price'].astype(int)
        return self
    
    # Function 2: Handling of missing values
    def missing(self):
        # Drop rows where these fields are missing
        self.df = self.df.dropna(subset=['property_id', 'home_address'])
        return self
    
    # Function 3: Remove Duplicates
    def remove_duplicates(self):
        # Drop rows where these fields are missing
        self.df = self.df.drop_duplicates(subset='property_id', keep='first')
        return self
    
    # Function 4: standardize
    def standadize(self):
        self.df["property_type"] = self.df["property_type"].str.replace("singleFamily", "Single Family")
        self.df["status"] = self.df["status"].str.replace("active", "Active")
        self.df["state"] = self.df["state"].str.replace("TX", "Texas")
        return self
    
    # Function 5: Roundingoff
    def rounding_off(self):
        self.df["lot_size"] = self.df["lot_size"].round(1)
        return self
    
    def clean_all(self):
        # Run all the cleaning at a go
        return self.fix_dtypes().missing().remove_duplicates().standadize().rounding_off().df

In [60]:
cleaner = Zillow_data_cleaner(df)
clean_df = cleaner.clean_all().reset_index(drop=True)
clean_df.index = clean_df.index + 1

In [61]:
clean_df.head(25)

,property_id,home_address,state,city,zipcode,latitude,longitude,bedrooms,bathrooms,living_area,lot_size,year_built,property_type,price,price_sqft,status,days_on_zillow
1,28208218,4122 Great Bear Pl,Texas,Houston,77084,29.833529,-95.699970,4,2.0,2611,7065.4,2019,Single Family,389010,149,Active,26
2,457154785,4122 Great Bear Pl,Texas,Houston,77084,29.833529,-95.699970,4,2.0,2611,7065.4,2019,Single Family,389010,149,Active,26
3,28133604,15322 Torry Pines Rd,Texas,Houston,77062,29.575647,-95.130270,4,2.0,2015,9840.2,1970,Single Family,369000,183,Active,10
4,249893553,2851 Decker Pl,Texas,Houston,77003,29.758352,-95.339210,3,4.0,2401,2134.4,2018,Single Family,499999,208,Active,5
5,27784714,717 E 23rd St,Texas,Houston,77008,29.807554,-95.390530,3,3.0,1957,4678.3,1928,Single Family,789000,403,Active,13
6,27968401,5711 Ridgeway Dr,Texas,Houston,77033,29.669280,-95.336540,4,1.0,1240,7204.8,1958,Single Family,159000,128,Active,3
7,28159899,1815 Wagon Gap Trl,Texas,Houston,77090,30.019640,-95.464320,4,4.0,2919,8969.0,1975,Single Family,299900,103,Active,23
8,80554166,12511 Silver Cup,Texas,Houston,77014,29.971582,-95.466730,3,3.0,2592,3362.8,2005,Single Family,199900,77,Active,47
9,28168769,3818 Gladeridge Dr,Texas,Houston,77068,30.001553,-95.493480,4,3.0,3068,0.3,1972,Single Family,335000,109,Active,44
10,28239285,3502 Stoney Oak Dr,Texas,Houston,77068,30.008610,-95.492325,4,3.0,2630,0.3,1977,Single Family,350000,133,Active,69
11,28239125,15618 Banty Falls Ct,Texas,Houston,77068,30.012064,-95.488470,5,4.0,4441,10201.8,1981,Single Family,495000,111,Active,56
12,452649960,6607 Apollo,Texas,Houston,77091,29.860098,-95.428570,4,3.0,1645,NaN,2025,Single Family,228000,139,Active,154
13,84030383,3102 Noble Lakes Ln,Texas,Houston,77082,29.726715,-95.586890,6,12.0,20932,0.7,2002,Single Family,9999999,478,Active,10
14,28354296,2739 Blue Glen Ln,Texas,Houston,77073,30.009228,-95.385490,5,4.0,3560,8681.5,1982,Single Family,280000,79,Active,114
15,28138042,1011 Manatee Ln,Texas,Houston,77090,30.021654,-95.449660,4,3.0,2904,10402.1,1969,Single Family,229500,79,Active,6
16,27759692,823 W 21st St,Texas,Houston,77008,29.805044,-95.413400,4,5.0,3264,3275.7,2016,Single Family,795000,244,Active,19
17,28315106,15430 El Padre Dr,Texas,Houston,77083,29.705790,-95.659360,4,3.0,2018,9199.9,1978,Single Family,329900,163,Active,11
18,70347288,26036 Kings Mill Crest Dr,Texas,Kingwood,77339,30.064611,-95.229970,4,4.0,3121,7488.0,2005,Single Family,363275,116,Active,41
19,28419100,3204 Ivy Falls Dr,Texas,Houston,77068,30.014277,-95.490810,5,5.0,6309,0.8,1982,Single Family,799000,127,Active,100
20,454275513,7970 Fowlie St,Texas,Houston,77028,29.813654,-95.281990,3,3.0,1549,4199.2,2025,Single Family,228000,147,Active,130
21,62567065,1322 Coppermeade Dr,Texas,Houston,77067,29.952232,-95.440350,5,3.0,3287,5776.1,2002,Single Family,296000,90,Active,39
22,121104625,2206 Abernathy St,Texas,Houston,77026,29.782618,-95.328340,3,3.0,1536,2404.5,2022,Single Family,320000,208,Active,10
23,28433805,3010 Cedar Woods Pl,Texas,Houston,77068,30.012966,-95.486390,6,6.0,5712,0.4,1984,Single Family,695000,122,Active,40
24,28249156,15722 Falmouth Dr,Texas,Houston,77059,29.586512,-95.116280,4,3.0,3194,0.4,1979,Single Family,465000,146,Active,131
25,84029002,107 Timberwilde Ln,Texas,Houston,77024,29.765787,-95.492790,8,13.0,22000,9.0,2005,Single Family,59999999,2727,Active,45

In [ ]:
 ===================================================================
                          DATA STORAGE
 ===================================================================

In [34]:
# Get the directory where this particular script is located
BASE_DIR = os.getcwd()

today_date = datetime.now().strftime("%Y-%m-%d")  # Getting today's date
folder_path = os.path.join(BASE_DIR, "data", "cleaned_data") # File path creation
os.makedirs(folder_path, exist_ok=True)

# Creating the file path 
file_path = f"{folder_path}/{today_date}.csv"

# Dumping into the filepath the API response
clean_df.to_csv(file_path, index=False)

print(f"Saved to: {file_path}")

Saved to: c:\Oluwatosin_Git\Real_Estate_Data_Pipeline\data\cleaned_data/2025-11-19.csv